<div class="cover-image-container"
     style="background-image: url({{ asset('uploads/publishers/'~imageFields[1]["value"] ) }});">
    {% if imageFields[1]["value"] != "../../assets/global/img/uEA01-shamra.svg" %}
        <div class="deleteimgbar" >
            <a id="img-{{ idd }}-coverimage" href="#" class="deletet-img-btn"
               _action='syndex_cpanel_globalroutes'
               _img='{{ imageFields[1]["value"] }}'
               _object="{{ entname }}"
               _section="{{ section }}"

            >
                <i class="fa fa-trash-o fa-lg"></i>
            </a>
        </div>
    {% endif %}
    <div class="university-logo-container">
        <div class="university-logo"
             style="background-image: url({{ asset('uploads/publishers/'~imageFields[0]["value"] ) }});">
            {% if imageFields[0]["value"] != "../../assets/global/img/bg.png" %}
                <div class="deleteimgbar">
                    <a id="img-{{ idd }}-logo" href="#" class="deletet-img-btn"
                       _action='syndex_cpanel_globalroutes'
                       _img='{{ imageFields[0]["value"] }}'
                       _object="{{ entname }}"
                       _section="{{ section }}"

                    >
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>